<div class="posts">
		{% if page.layout == 'post' %}
			{% assign post_to_render = site.related_posts %}
			<h4>Related entries</h4>
		{% else %}
			{% assign post_to_render = site.posts %}
			<h4>All entries</h4>
		{% endif %}
	<ul>
		{% for post in post_to_render %}
		<a href="{{ post.url }}" class="btn" title="{{ post.description }}">
			<div class="post-title">{{ post.title }}</div>
			<div class="post-date">{{ post.date | split: " " | first}}</div>
			<div class="post-tags">
				{% for tag in post.tags %}
					<div class="post-tag-{{ tag }}">{{ tag }}</div>
				{% endfor %}
			</div>
		</a>
		{% endfor %}
	</ul>
</div>
